#gtp-definition-translated-result {
    background-color: #F0F8FF;
    margin-bottom: 40px;
    border-radius: 8px;
}

#gtp-definition-translated-result .gtp-definition-pos {
    padding-left: 15px;
    margin: 5px 0;
}

.gtp-translated-text {
    padding-bottom: 20px;
    line-height: 1.3;
}

.gtp-translated-definition, .gtp-definition-example, .gtp-definition-synonyms {
    padding-left: 40px;
    margin: 0;
}

.gtp-translated-definition {
    color: #000000;
    padding-bottom: 3px;
}

.gtp-result-header {
    width: 100%;
}

.gtp-bart-logo {
    float: right;
    margin: 20px 20px 0 10px;
}

.gtp-result-title {
    display: inline-block;
    margin: 20px 0 10px 10px;
    font-size: 16px;
}

.gtp-definition-example, .gtp-definition-synonyms {
    margin: 5px 0;
}

.gtp-result-title span {
    color: #000000;
}

.gtp-extension-info {
    display: flex;
    justify-content: space-between;
}

.gtp-extension-name {
    margin: 25px 0 0 10px;
    font-size: 15px;
    color: #333333;
}

.sgn-history {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.sgn-history-item {
    font-size: 13px;
    background-color: #cdddeb;
    padding: 8px 16px;
    margin: 20px 20px 0 0;
    border-radius: 4px;
}

.sgn-history-item a:visited {
    color: blue;
}
